<!DOCTYPE html>
<html>
<head>
    <title>Volunteer Tracker - <%= @info[0] %></title>
    <link rel='icon' href='/img/icon.png'>
    <link rel='stylesheet' href='/css/master.css' type='text/css'>
    <link rel='stylesheet' href='/css/<%= @info[1] %>.css' type='text/css'>
</head>
<body>
    <header id='site-head'>
        <a href='/'>
            <img src='img/icon.png' alt='Clipboard Icon'>
            <h1>Volunteer Tracker</h1>
        </a>
    </header>
    <%= yield %>
</body>
</html>
