<main>
    <h2><%= @project.title %></h2>
    <p><strong>Volunteers Needed:</strong> <em><%= @project.vols_needed %></em></p>
    <p><strong>Volunteers Assigned:</strong> <em><%= @project.vols_assigned %></em></p>

    <a class='edit' href='/projects/<%= @project.id %>/edit'>Edit Project</a>
    <a class='back' href='/'>Back to main page</a>
</main>
