main {
    margin: 2rem auto 0 auto;
    padding: 2.5rem;
    width: 65%;

    border-radius: 5rem;
    border: 2px solid black;
    background-color: white;
}

h2 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
}

table, th, td {
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    height: 2rem;
}
tr:nth-child(odd) {
    background: linear-gradient(
        to right,
        transparent 0%,
        rgba(0,0,0,0.1) 5%,
        rgba(0,0,0,0.1) 95%,
        transparent 100%
    );
}
tr:first-child {
    border: 2px solid black;
    background: linear-gradient(to bottom right, #0575E6 30%, #205E9B 100%);
    height: 2.25rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: white;
}
td:first-child, th:first-child {
    width: 50%;
}
td:not(:first-child), th:not(:first-child) {
    text-align: center;
}
tr:not(:first-child) td:first-child {
    text-indent: 1rem;
}

tr:not(:first-child):hover {
    background-color: rgba(255, 100, 100, 0.3);
    background-image: none;
}

.row-click {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    display: block;
}
