body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0.3) 0%, transparent 15%, transparent 85%, rgba(255,255,255,0.3) 100%),
        url('../img/bg.jpg');
    background-size: cover;
}
* {
    font-family: serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

#site-head {
    position: sticky;
    margin: 0 auto;
    padding: 0.5rem 1rem 1rem 1rem;

    width: 100%;
    height: 10vh;
    background-color: white;
}
#site-head a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    text-decoration: none;
}
#site-head img {
    max-height: 4.5rem;
    max-width: 100%;
}
#site-head h1 {
    font-size: 4rem;
    margin: 0;

    background-image: linear-gradient(to right, #8360c3, #2ebf91, #8360c3, #2ebf91);
    background-size: 300% auto;
    background-position: left;
    animation: prettyText 3s linear infinite;
    color: transparent;
    -webkit-background-clip: text;
}
@keyframes prettyText {
    to {background-position: right;}
}

main {
    margin: 2rem auto 0 auto;
    padding: 2.5rem;
    width: 65%;

    border-radius: 5rem;
    border: 2px solid black;
    background-color: white;
}
h2 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
}
