.edit {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    border: 1px solid black;
    width: 10rem;
    font-size: 1rem;
    padding: 0.5rem;
    color: black;
    background-color: rgba(0,0,0,0.1);
}

.edit:hover {
    background-color: rgba(0,0,0, 0.8);
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 1px 1px black;
}

.back {}
